@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logo img{
	width: 65%;
	/* border: 3px solid wheat; */
	border-radius: 50px;
    align-items: center;
}
.navBar{
    display: flex;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.nav-list{
    width: 50%;
    /* background-color: black; */
    display: flex;
    align-items: center;

}
.nav-list li{
     list-style: none;
     padding: 26px 30px;
}
.nav-list li a{
     text-decoration: none;
     color: white ;
}
.nav-list li a:hover{
    color: rgb(138, 130, 130);
}
.RightNav{
    /* background-color: blue; */
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

.section{
	width: 100%;
	min-height: 100vh;
	background-color: #ddd;
}
.container{
	width: 85%;
	display: block;
	margin:auto;
	padding-top: 150px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media (max-width: 812px) {
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	margin-top: 38%;
	width:100%;
	display: block;
}
.image-section{
	float:none;
	width:100%;

}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
